[project]
	description = \"integration_usecases_A1_policy_enforcement_r_apps\"
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	read = group GitHub Replication
	owner = group saml/onap-gerrit-integration-usecases-A1-policy-enforcement-r-apps-committers
	owner = group saml/onap-gerrit-integration-usecases-a1-policy-enforcement-r-apps-committers
